@model directory21.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
}


@foreach (var item in Model.Resource)
{
    int dat = 0;
    if (dat == 0)
    {
        <div class="block width1">
            <a href="#" class="title">@Html.DisplayFor(modelItem => item.ResourceName) ()</a>
            <ul>
                @*<li>&raquo; <a href="#">Traditional Medicine</a></li>
                <li>&raquo; <a href="#">Medical Geography</a></li>
                <li>&raquo; <a href="#">Men's Health</a></li>
                <li>&raquo; <a href="#">Nursing</a></li>
                <li>&raquo; <a href="#">Organizations</a></li>*@

            </ul>
        </div>
        dat = 1;
    }
    else if (dat == 1)
    {
        <div class="block width2">
            <a href="#" class="title">@Html.DisplayFor(modelItem => item.ResourceName) ()</a>
            <ul>
                <li>&raquo; <a href="#">Etiquette</a></li>
                <li>&raquo; <a href="#">Music</a></li>
                <li>&raquo; <a href="#">Parliamentary Procedure</a></li>
                <li>&raquo; <a href="#">Quotes</a></li>
                <li>&raquo; <a href="#">Standards</a></li>
            </ul>
        </div>
        dat = 2;
    }
    else if (dat == 2)
    {
        <div class="block width3">
            <a href="#" class="title">@Html.DisplayFor(modelItem => item.ResourceName) ()</a>
            <ul>
                <li>&raquo; <a href="#">Traditional Medicine</a></li>
                <li>&raquo; <a href="#">Medical Geography</a></li>
                <li>&raquo; <a href="#">Men's Health</a></li>
                <li>&raquo; <a href="#">Nursing</a></li>
                <li>&raquo; <a href="#">Organizations</a></li>
            </ul>
        </div>
        dat = 3;
    }
    else if (dat == 3)
    {
        <div class="block width4">
            <a href="#" class="title">@Html.DisplayFor(modelItem => item.ResourceName) ()</a>
            <ul>
                <li>&raquo; <a href="#">Etiquette</a></li>
                <li>&raquo; <a href="#">Music</a></li>
                <li>&raquo; <a href="#">Parliamentary Procedure</a></li>
                <li>&raquo; <a href="#">Quotes</a></li>
                <li>&raquo; <a href="#">Standards</a></li>
            </ul>
        </div>
        dat = 0;
    }
}